In [1]:
import requests
from bs4 import BeautifulSoup

import pandas as pd

In [2]:
pt = pd.read_excel('../extra/point_table.xlsx')
pt

   Team  Pld  Won  Lost  Pts  Net RR
0    DC   14   10     4   20   0.481
1   CSK   14    9     5   18   0.455
2   RCB   14    9     5   18  -0.140
3   KKR   14    7     7   14   0.587
4    MI   14    7     7   14   0.116
5  PBKS   14    6     8   12  -0.001
6    RR   14    5     9   10  -0.993
7   SRH   14    3    11    6  -0.545

In [3]:
pt.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Team    8 non-null      object
 1   Pld     8 non-null      int64
 2   Won     8 non-null      int64
 3   Lost    8 non-null      int64
 4   Pts     8 non-null      int64
 5   Net RR  8 non-null      float64
dtypes: float64(1), int64(4), object(1)
memory usage: 926.0 bytes

In [5]:
pt.columns

Index(['Team', 'Pld', 'Won', 'Lost', 'Pts', 'Net RR'], dtype='object')

In [6]:
pt.columns = ['Team', 'Played', 'Won', 'Lost', 'Points', 'Net RR']

In [7]:
pt.to_csv('../dataset/csv/Point Table.csv')